#form-test {
    background-color: var(--dark-blue);
}

.input {
    width: 100%;
    background-color: transparent;

    border: none;
    border-bottom: 1px solid var(--gray);

    color: var(--text-color);
    font-weight: 300;
    line-height: 1.9;
    font-size: 1.406rem;

    padding: 10px 15px;
}

.input:focus {
    outline: none;
    border-bottom: 1px solid var(--primary);
    color: var(--text-color);
}

textarea.input {
    min-height: 100px;
    resize: vertical;
}