.hire-line {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
    /* justify-content: flex-end; */
}

.hire-line p {
    margin-top: 0;
    margin-bottom: 5px;
}

.hire-form form input {
    margin-bottom: 24px;
}

.hire-form form textarea {
    margin-bottom: 24px;
}

.hire-action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}