.portfolio {
    display: flex;
    gap: var(--gap);
    /* text-align: center; */
}

/* .container:not(first-child, last-child) {
    margin-bottom: 75px;
} */
.portfolio:not(:last-child) {
    margin-bottom: 75px;
}
.portfolio-screenshot {
    border-radius: 50%;
    width: clamp(175px, 20vw, 300px);
    height: clamp(175px, 20vw, 300px);
}

.portfolio:nth-child(odd) {
    flex-direction: row-reverse;
}

#portfolio-footer {
    display: flex;
    justify-content: center;
}

@media (width < 37.5rem) {
    .portfolio {
        display: block;
    }
}